{% extends 'base.html.twig' %}

{% block title %}Modifier - Les coiffeurs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/coiffeur/style.css') }}">
{% endblock %}

{% block body %}

    <section id="bandeau">

    </section>

    <section>
        <div class="container">
            <div class="titres">
                <h1>Utilisation des formulaires dynamiques.</h1>
                <h2>SYMFONY - AJAX</h2>
            </div>

            <div class="formulaire">
                <h3>Définissez la ville du salon de coiffure {{ coiffeur.titre }}</h3>

                {{ include('coiffeur/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('coiffeurs') }}">Retourner aux salons</a>

                {# {{ include('coiffeur/_delete_form.html.twig') }} #}

            </div>
        </div>
    </section>
{% endblock %}

